
body {
	background: #767676 url(https://cloud.githubusercontent.com/assets/7477968/7448362/c60cadee-f1e5-11e4-888e-aad1cc736083.png) no-repeat center top;
	font-family: Courier;
	margin: 0px auto;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	 }

a, a:visited { 
	color: #333333; 
	text-decoration: underline; 
	outline: 0; 
	}

a:hover, a:focus { 
	color: #000000; 
	}
	
.main { 
	margin:180px auto;
	padding:40px; 
	}
	
p { 
	font-size:14px;
	width:400px; 
	margin:20px auto 0px auto; 
	color:#222222;
	}

a {
  text-decoration:none;
	}
	
