
body {
	background: #767676 url(spartacu5.png) no-repeat center top;
	font-family: Courier;
	margin: 0px auto;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	 }

a, a:visited { 
	color: #333333; 
	text-decoration: underline; 
	outline: 0; 
	}

a:hover, a:focus { 
	color: #000000; 
	}
	
.main { 
	margin:180px auto;
	padding:40px; 
	}
	
p { 
	font-size:14px;
	width:400px; 
	margin:20px auto 0px auto; 
	color:#222222;
	}

a {
  text-decoration:none;
	}
	
footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding-bottom: 10px;
	background-color: #cccccc;
	text-align: center;
	}
	
